<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <header>
        {{> header}}
    </header>
    <main>
        <h2 class="text-center m-5">Formulario</h2>
        <form class="d-flex flex-column text-center w-50 m-auto bg-light p-3 rounded" action="/productos" method="POST">
            <input placeholder="Title" class="rounded p-1 m-1" type="text" name="title">
            <input placeholder="Price" class="rounded p-1 m-1" type="text" name="price">
            <input placeholder="Thumbnail" class="rounded p-1 m-1" type="text" name="thumbnail">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
        <br><br><br><br>
    </main>
    <footer>
        {{> footer}}
    </footer>
</body>

</html>